:root{
    --color:#24baa0;
    --color2: #666;
}
* {
    box-sizing: border-box;
}
.container{
    max-width: 1050px;
    margin:0 auto;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /*żeby usunąć labele, trzeba dodać klasę taką do labeli w html*/
}
.section-title{
    font-size: 22px;
    color: var(--color2);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-title::after{
    content:"";
    width:320px;
    height:8px;
    background: var(--color);
    display: block;
    margin-top: 5px;
}


body{
    font-family:'Raleway', sans-serif;
}
.page-header{
    height: 40px;
    background:#000000;
    position: relative;;
    z-index: 1000; /*żeby menu sie wysuwało i żeby dało się na nie kliknąć*/
}
.page-header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px; /*żeby wyśrodkować*/
}
.page-logo{
    margin: 0;
    display: flex;
    align-items: center; /*żeby wyśrodkowac*/
}
.page-logo-link{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-decoration: none;
    height: 100% /*żeby wyśrodkować*/
}

.page-logo-link span{
    color: var(--color);
}
.page-nav{}
.page-nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.page-nav-list-el{
    position:relative;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.page-nav-list-link{
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    transition: 0.3s color; /* przejście między guzikami menu*/
}
.page-nav-list-link:hover{
    color: var(--color); /*żeby jak kliknę było zielone*/
}

.page-nav-sublist {
    background: black;
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    transform: translate(-50%);
    margin:0;
    padding:10px 15px;
    list-style: none;
    opacity: 0; /*że lista się wysuwa*/
    visibility: hidden;
    transition: 0.3s opacity;
}

.page-nav-list-el:hover .page-nav-sublist{ /*lista się wysuwa*/
    opacity:1;
    visibility: visible;
}
.page-nav-sublist::before{
    content: "";
    width:0;
    height:0;
    border: 10px solid transparent;
    border-bottom-color: black;
    position: absolute;
    top: -20px;
    left: 50%; /*środkuje do rodzica*/
    transform: translate(-50%); /*środkuje element*/
}

.page-nav-sublist::after{  /*żeby nie było miejsca obok strzałki i nie znikała nam lista*/
    content:"";
    width:100%;
    height: 12px;
    background: transparent;
    position:absolute;
    left:0;
    top:-12px;
}
.page-nav-sublist-el{}
.page-nav-sublist-link{
    color: white;
    text-decoration: none;
    padding: 3px;
    display: block;
}

/*SLIDER*/
.main-slider-bg{
    background: linear-gradient(#fff, #ddd);
}
.slider{
    height: 500px;
    display:flex; /*są obok siebie strzałki*/
}
.slider-prev,
.slider-next{
    width: 90px;
    border: 0;
    background: none;
    color: var(--color);
    font-size: 60px;
    cursor: pointer; /*są łapki jak klikam*/
    outline: none; /*nie ma ramki jak klikam*/
}

.slider-prev:focus,
.slider-next:focus {
    color: black;
}

.slider-next{
    order:1; /*dzięki temu strzałki są rozdzielone*/
}
.slider-slides{
    flex-grow: 1; /*dzięki temu strzałki są rozdzielone*/
    position:relative;
}

.slider-slide{
    position:absolute; /*zeby slajdy były obok siebie*/
    top:20%;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s opacity;
}
.slider-slide-active{
    opacity: 1;
    z-index: 1; /*żeby 1 była 1 */
}

.slider-text{
    width: 40%;
    margin-right: 60px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.slider-text-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.slider-text-span{
    color: var(--color);
}

.slider-text-info{
    font-weight: 500;
    color: var(--color2);
    text-align: center;
    line-height: 1.5em;
    font-size: 15px;

}

.slider-text-button{
    align-self: center;
    margin-top: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 500;
}

.row{
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: 80px;
    justify-content: space-between;

}
.row .column{
    flex: 1;
    margin: 0 10px;
}
/*PHOTOS*/
.photos{
    margin: 20px 40px ;
}
.box {
    border: 1px solid #bcbcbc;
    height: 100%;
    display: flex;
    align-items: flex-end;

}

.first-box {
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
}

.second-box {
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
}

.box-title {
    font-size: 13px;
    background: linear-gradient( rgba(249, 249, 249, 0.45), rgba(249, 249, 249, 0.45));
    height: 30%;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 15px;
}

.first-box-title,
.second-box-title {
    margin: 15px 0 2px 0;
}

.third-box {
    padding: 20px;
    flex-direction: column;
}

.box-text-title{
    font-size: 16px;
    margin-top: 0;
    align-self: flex-start;
}

.box-text {
    color: #afafaf;
    font-size: 15px;
}

.box-title::after,
.box-text-title::after {
    content:"";
    width: 135px;
    height: 6px;
    background-color: var(--color);
    display: block;
    position: absolute;
}
/*PRICE*/
.pricing {
    background-color: #e9ebee;
    padding: 40px 0;
}

.price-article {
    background-color: #f1f3f6;
    border: 1px solid #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    height: 100%;
}

.standard-plan {
    background-color: var(--color);
    border: 1px solid var(--color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    height: 100%;
}

.circle {
    width: 60px;
    height: 60px;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    background-color: white;
    bottom: -20px;
    left: 95px;
    position: relative;
}

.mid-circle {
    width: 60px;
    height: 60px;
    border: 1px solid var(--color);
    border-radius: 50%;
    background-color:  var(--color);
    bottom: -20px;
    left: 95px;
    position: relative;
}

.circle::before {
    content: "";
    background-color: #c7c7c7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 14px;
}

.mid-circle::before {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 14px;
    left: 14px;
}

.plan-title {
    color: var(--color);
    font-size: 22px;
    font-weight: 600;
    display: block;
    align-self: center;
}

.mid-plan-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    display: block;
    align-self: center;
}

.in-price {
    font-size: 50px;
    align-self: center;
    height: 150px;
    width: 150px;
    border: 1px solid #afafaf;
    border-radius: 50%;
    background-color: #fff;
    color: #d6d6d6;
    font-weight: 900;
    padding: 25px;
}

.in-price sup {
    font-size: 20px;
    position: relative;
    top: -25px;
}

.mid-cost {
    color: var(--color)
}

.cost,
.mid-cost {
    margin:0;
    padding: 10px;
}

.mid-pln {
    color: var(--color);
}

.pln,
.mid-pln {
    margin:0;
    font-size: 15px;
    padding-left: 15px;
}

.services {
    margin: 20px 0;
}

.services p {
    display: block;
    text-align: center;
    color: #a8a8a8;
    padding: 8px;
    margin: 0;
    font-size: 22px;
}

.blank {
    visibility: hidden;
}

.services p:nth-child(odd){
    background-color: #dddfe2;
}

.services p:nth-child(even){
    background-color: #e5e7ea;
}

.middle p:nth-child(odd){
    background-color: #fff;
}

.button {
    align-self: center;
}

.mid-button {
    align-self: center;
    background: white;
    color: var(--color);
    border-radius: 5px;
    border: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}
/*FORM*/
.form{
    display:flex;
    justify-content: space-between;
}
.form-left{
    width:635px;
}
.form-right{
    width: 340px;
}
.form-row{
    margin-bottom: 30px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 65px;
    border: 1px solid var(--color);
    width:100%;
    padding: 0 15px;
    font-size: 33px;
    font-weight: 200;
    outline: none;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
    box-shadow: inset 0 0 0 1px var(--color);
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder{
    color: #aaa;
}

.form textarea{
    height:190px;
    padding: 15px;
    resize: none;
}

.form-img{
    height: 210px;
    background: url(../images/red_chair.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -30px;
}

.form-checkbox{
    display:flex;
    cursor: pointer;
    align-items: center;
    margin: 35px 0 40px;
}
.form-checkbox input{
}
.form-checkbox input + .form-checkbox-mark{
    width:48px;
    height: 48px;
    border: 1px solid var(--color);
    display: block;
    flex-shrink: 0;
    margin-right: 10px;

}
.form-checkbox input:checked + .form-checkbox-mark{
    background: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center;

}

.form-checkbox-text{
    color: #aaa;
}

.btn{
    background: var(--color);
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px 15px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.btn:hover{
    background: #259c81;
}
.form-submit{
    font-size: 34px;
    font-weight: bold;
    height: 70px;
    width: 100%;
}

/*FOOTER*/

.footer{
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-right {
    display: flex;
    justify-content: space-between;
}

.copyright {
    color:  #aaa;
    font-weight: 700;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-media a {
    display: inline-block;
    height: 40px;
    margin: 2px;
}

p.footer-logo-p {
    color: #aaa;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.footer-span {
    font-weight: 700;
}